{% extends 'authenticate/base.html' %} {% block content %}

<h1 class="text-center" style="padding-top: 10">Events</h1>

{% for event in events %}
<div class="text-center justify-content-center" style="display: flex">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<br />

{% endfor %} {% endblock %}
